/* *{
    text-align: center;
} */
/* .backgr-img{
    background-image: url(" https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.backcolor{
    background-color:aqua ;
    margin-left: 30vw;
    margin-right: 50vh;
    border-radius: 25px;
}
.personimg{
    margin-top: 25px;
} */
